*, *::before, *::after {margin: 0; padding: 0; box-sizing: border-box;}
:root {
  font-size: 16px;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.grid-img {
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.innactive {
  display: none;
}
.loader {
  position: fixed;
  bottom: 2%;
  left: 2%;
  background-color: rebeccapurple;
  border-radius: 0.5rem;
  color: whitesmoke;
  padding: 1rem;
  z-index: 999;
}
.loader.hidden { display: none; }
.box-shadow {
  box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.4);
}


@media screen and (max-width: 640px) {
  #grid {
    grid-template-columns: 1fr;
  }
}